.item {
  width: auto;
  height: auto;
  margin: 50px;
  background: #ffffff;
  border-radius: 3px;
  position: relative; }

.loader04 {
  width: 56px;
  height: 56px;
  border: 2px solid rgba(10, 26, 213, 0.50);
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1s ease-in-out infinite;
  top: 50%;
  margin: -28px auto 0; }
  .loader04::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0052ec;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px; }

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }